.right {
    float: right;
    size: contain;
}

.left {
    float: left;
    size: contain;
}

.border1 {
    border: 2px;
}

.border2 {
    border: 2px;
}

.border3 {
    border: 2px;
}

.border4 {
    border: 2px;
}

#b1 {
    boder: 2px;
}

.head {
    /* border: 2px; */
    background-color: #9fa8a3;
    font-size: 34px;
    text-align: center;
}

.content1 {
    /* border: 2px; */
    background-color: #c5d5cb;
    font-size: 28px;
}

body {
    background-image: url(../images/stars-2402817_1920.jpg)
}

#me {
    border-radius: 25px;
}

#me1 {
    border-radius: 25px;
}

#blueish {
    color: #00BFFF;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c5d5cb;
}

/* li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */

/* Change the link color to #111 (black) on hover */

/* li a:hover {
    background-color: #111; */

/* } */

.an {
    display: inline;
    text-align: center;
    float: left;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active {
    color: red;
}

/* .nav {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
   */

li .an {
    color: #666;
    display: inline;
}

#tuct {
    font-size: 30px;
}

.anchor {
    color: #666;
    font-size: 32px;
    border: 2px;
    font-style: cursive;
    border-width: thin;
    text-decoration: none;
    /* background-color: #c5d5cb; */
}

button {
    margin-left: 550px;
}